* {
    margin: 0;
    padding: 0;
}

body {
    color: #aaaaaa;
    height: 100vh;

}

/* Header Section */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto 0;
    background-color: #333333;
    height: 100vh;
}

header img {
    position: absolute;
    width: 8rem;
    top: 1.563rem;
    left: 1.563rem;
}

header h1 {
    text-align: center;
    font-size: 4.5rem;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header p {
    text-align: center;
    width: 45%;
    color: #aaaaaa;
    font-size: 1.125rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

header button {
    align-self: center;
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: 3.125rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: #fff;
    /* background-color: #49b970; */
    background: linear-gradient(
        to left,
        #ff0000 50%,
        #ff0000 50%,
        #49b970 50%,
        #49b970 50%
    );
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

header button:hover {
    background-position: -100% 0;
}
/* Header Section */

/* Main Section */
main {
    margin-top: 5rem;
}

.body-img-one {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.body-img-one figure a img {
    width: 35rem;
    transition: 0.3s ease-in;
    margin-bottom: 0.5rem;
}

.body-img-one figure a img:hover {
    transform: translateY(-1rem);
}

.body-img-one figure figcaption a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    color: #333333;
    transition: 0.2s ease-in;
}

.body-img-one figure figcaption a:hover {
    color: #49b970;
}

.body-img-one figure {
    text-align: center;
}

.body-img-two {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.body-img-two figure a img {
    width: 35rem;
    transition: 0.3s ease-in;
    margin-bottom: 0.5rem;
}

.body-img-two figure a img:hover {
    transform: translateY(-1rem);
}

.body-img-two figure figcaption a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    color: #333333;
    transition: 0.2s ease-in;
}

.body-img-two figure figcaption a:hover {
    color: #49b970;
}

.body-img-two figure {
    text-align: center;
}
/* Main Section */



/* Media Query */

/* Extra Small Devices */
@media only screen and (max-width: 600px) {

    /* Header Section */
    header h1 {
        font-size: 3rem;
    }

    header p {
        width: 70%;
    }
    /* Header Section */
    
    /* Main Section */
    .body-img-one {
        flex-direction: column;
        padding: 2rem;
    }

    .body-img-one figure a img {
        max-width: 100%;
        height: auto;
    }


    .body-img-two {
        flex-direction: column;
        padding: 2rem;
    }

    .body-img-two figure a img {
        max-width: 100%;
        height: auto;
    }
    /* Main Section */
    
}
/* Extra Small Devices */

/* Small devices */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    
    /* Header Section */
    header h1 {
        font-size: 3rem;
    }

    header p {
        width: 70%;
    }
    /* Header Section */

    /* Main Section */
    .body-img-one {
        flex-direction: column;
        padding: 2rem;
    }

    .body-img-one figure a img {
        max-width: 100%;
        height: auto;
    }


    .body-img-two {
        flex-direction: column;
        padding: 2rem;
    }

    .body-img-two figure a img {
        max-width: 100%;
        height: auto;
    }
    /* Main Section */
    
}
/* Small devices */

/* Medium devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    /* Header Section */
    header h1 {
        font-size: 3rem;
    }

    header p {
        width: 70%;
    }
    /* Header Section */

    /* Main Section */
    .body-img-one {
        flex-direction: column;
        padding: 2rem;
    }

    .body-img-one figure a img {
        max-width: 100%;
        height: auto;
    }


    .body-img-two {
        flex-direction: column;
        padding: 2rem;
    }

    .body-img-two figure a img {
        max-width: 100%;
        height: auto;
    }
    /* Main Section */
}
/* Medium devices */

/* Media Query */
